<!DOCTYPE html>
<html>
    <head>
    <title>MyTrails</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <h1>MyTrails</h1>
    <p>Welcome to MyTrails</p>
    </body>
</html>